<form #addCustomer="ngForm" (submit)="insertCustomer(addCustomer)">
  <div class="row">
    <div class="col-4">
      <div class="mb-3">
        <label for="txtName">Name</label>
        <input id="txtName" [(ngModel)]="customer.name" name="name" class="form-control" />
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="txtTitle">Title</label>
        <input id="txtTitle" [(ngModel)]="customer.title" name="title" class="form-control" />
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="txtAddress">Address</label>
        <input id="txtAddress" [(ngModel)]="customer.address" name="address" class="form-control" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="mb-3">
        <label for="txtCity">City</label>
        <input id="txtCity" [(ngModel)]="customer.city" name="city" class="form-control" />
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="ddlRegionId">Region Id</label>
        <select id="ddlRegionId" [(ngModel)]="customer.regionId" name="regionId" class="form-control">
          <option value="0">0.Southern</option>
          <option value="1">1.Eastern</option>
          <option value="2">2.Northern</option>
          <option value="3">3.Western</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="txtPostalCode">Postal Code</label>
        <input id="txtPostalCode" [(ngModel)]="customer.postalCode" name="postalCode" class="form-control" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="mb-3">
        <label for="txtCountry">Country</label>
        <input id="txtCountry" [(ngModel)]="customer.country" name="country" class="form-control" />
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="txtPhone">Phone</label>
        <input id="txtPhone" [(ngModel)]="customer.phone" name="phone" class="form-control" />
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="ddlRegion">Region</label>
        <select id="ddlRegion" [(ngModel)]="customer.region" name="region" class="form-control">
          <option value="0">Southern</option>
          <option value="1">Eastern</option>
          <option value="2">Northern</option>
          <option value="3">Western</option>
        </select>
      </div>
    </div>
  </div>



  <input type="submit" value="Add Customer" class="btn btn-primary" />
  <input type="button" value="Cancel" class="btn btn-default" (click)="resetPage(addCustomer)" />
</form>
